  .contact {
    width: 100%;
    height: auto;
  }
  
  .contact__container {
    background-color: #e56553;
    padding-top: 98px;
    padding-bottom: 92px;
    padding-left: 325px;
    padding-right: 325px;
    text-align: center;
  }
  
  .contact__title {
    font-family: "Raleway", sans-serif;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
  } 